# Core Django
Django==5.2.11
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1

# Database
psycopg2-binary==2.9.11

# Django extensions
django-filter==25.2
drf-spectacular==0.29.0

# Utilities
python-dotenv==1.2.2
PyJWT==2.11.0
Markdown==3.10.2
PyYAML==6.0.3
Pillow==12.1.1

# API/Data
requests==2.32.5
jsonschema==4.26.0

# Environment
asgiref==3.11.1
sqlparse==0.5.5